<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"layout":{"type":"constrained","wideSize":"1180px"},"style":{"spacing":{"padding":{"top":"40px","bottom":"40px"}}}} -->
<div class="wp-block-group" style="padding-top:40px;padding-bottom:40px"><!-- wp:query-title {"type":"archive"} /-->
<!-- wp:term-description /-->
<!-- wp:query {"query":{"perPage":10}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"className":"angelcamp-section"} -->
<div class="wp-block-group angelcamp-section"><!-- wp:post-title {"isLink":true} /-->
<!-- wp:post-date /-->
<!-- wp:post-excerpt /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->
<!-- wp:query-pagination /--></div>
<!-- /wp:query --></div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
